$midnigthblue:#152341;
$white:rgb(240, 240, 240);
$brightgray:rgba(255, 255, 255, 0.5);
$darkgray:rgba(255, 255, 255, 0.3);
$gray:rgb(96, 105, 126);
$cloudblue:#36415a;
$headercolor:#38435e;
$smallsize:.85rem;
$middlesize:1.08em;
$bigsize:1.28rem;
$bold:bold;
$lighter:lighter;
$danger_red:#e32a2a;